
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@-ms-viewport{
  width: device-width;
}
*{
  margin: 0%;
  padding: 0%;

}
body{
  background-color: transparent !important;
}
body,
h1, h2, h3, h4, h5, h6, p, a, .main-p
{
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif !important;
      text-decoration: none ;
}
/* home page sec  */
.div44{
  margin: 20px;
  
}
.div2686{
  display: flex;
 justify-content: center;
 align-items: center;
}
 
.main-p{
  color: black !important;
}

.section2  {
  background-color: white !important;
  color: black !important;
}
.section2 h1, p{
  color: black !important;
}

/* mobile responsive */
@media only screen and (max-width: 768px){
  .main-p{
    color: black !important;
    z-index: 99;
  }
  .wlcm{
    font-size: 70px;
    font-weight: 600;
    line-height: 70px;
    position: relative;
    z-index: 99;
  }
  .div286 img{
    width: 100%;
    padding: 0% !important;
    }
  .h1-dnd{
   width: auto;
  }
  .dnd-div{
    
    width: 100%;
    height: 100%;
    background-color: white;  
    text-align: center;
    align-items: center;
    color: #f1f3f5;
    padding: 30px !important;
  }
  .section2{
    width: 100vw !important;
  min-height: 1000px !important;
  }
  .main-headlines{
    margin-top: 150px !important;
    
  }
 
.hero{
  padding: 100px 0 100px 0;
  width: 100vw !important;
  height: 700px !important;
}
 

}

.div414 {
  width: 100vw;
  height: auto;
  background-color: #070707;
  display: flex;
  

 
}
.ddiv76 {
  margin: auto 0 auto 0;
  color: white;
  align-items: center;
 }
.p645{
  color: white !important;
  text-align: center;
  margin: 50px;
}
.h747{
  color: white !important;
  text-align: center;
  margin: 50px;
}
.div286 img{
width: 90%;
padding: 50px;
padding-left: 50px;

}
 
.div22{
  width: 100%;
  height: 100%;
  background-color: #1C0732;
  display: flex;

}
.imgg236{
transform: rotate(270deg);
-ms-transform: rotate(270deg);
-moz-transform: rotate(270deg);
-webkit-transform: rotate(270deg);
-o-transform: rotate(270deg);
width: 50%;
}
.div24{
  color: #f1f3f5;
  padding: 50px;

}
.p234{
  margin-bottom: 50px;
}
.h42{
  margin-bottom: 50px;
}
.a24{
  text-decoration: none;
  padding: 15px;
  color: #000000;
  background-color: #EFA620;
  margin-top: 100px;
  border-radius: 30px;
  font-size: 25px;
}

/* css of ai section */
/* AI section CSS  */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
.felomee-name{
  color: #EFA620;
   
    
}
.wlcm{
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  color: black;
  text-align: right;
}


    .aipic1{
        width: 100%;
        height: auto;
        
    }
    .ai-div {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #1C0732;
    }
  }
.ai-div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     background-color: #1C0732;
}

.radio_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #440050;
    width: 280px;
    height: 50px;
    margin-top: 20px;
    border-radius: 9999px;
    box-shadow: inset 0.5px 0.5px 2px 0 rgba(0, 0, 0, 0.15);
 
}

input[type="radio"] {
    appearance: none;
    /* display: none; */
}

label {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    width: 220px;
    height: 40px;
    text-align: center;
    border-radius: 9999px;
    overflow: hidden;
    transition: linear 0.3s;
    color: #6e6e6edd;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: #EFA620;
    color: #f1f3f5;
    font-weight: 900;
    transition: 0.3s;
}


/* css of download section  */
.dnd-div{
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  align-items: center;
  color: #f1f3f5;padding: 100px;
}
.dnd-div h1, p{
  color: black;
}
#download-sec{
  margin: 0%;
  padding: 0%;
  top: 0%;
}
.h1-dnd{
  margin: 0 0 30px 0;
  padding: 0%;

}
.p-dnd{
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.dnd-button{
  text-decoration: none;
  padding: 15px;
  font-size: 25px;
  color: #000000;
  background-color: #EFA620;
  border-radius: 30px;
  margin-top: 50px;
  
}
.img-nd{
  margin-top: 100px;
}

 
.d-btn {
    padding: 15px;
    background-color: blueviolet;
    font-style: none;
    color: aliceblue;
    font-size: 25px;
    border-radius: 30px;
    text-decoration: none;

}

.d-btn {
  padding: 15px;
  background-color: blueviolet;
  font-style: none;
  color: aliceblue;
  font-size: 25px;
  border-radius: 30px;
  text-decoration: none;

}

.hero-heading {
  background: var(--purple);
  background: -webkit-linear-gradient(to right, var(--purple), var(--yellow));
  background: linear-gradient(to right, var(--purple), var(--yellow));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.scrolling-thumbs-container {
  background-color: white !important;
}

.hero {

  background-color: white !important;
  color: black !important;

}
 




 